.box{
    width: 1200px;
    height: 500px;
}
.content{
    display: flex;
    background-color: white;
    margin-left: 400px;
    margin-top: 170px;
    border-radius: 10px;
}
img{
    width: 200px;
    height: 200px;

}
body{
    background-color: #eef2f9;
}
p{
    text-decoration: line-through;
}
*{
    font-family: sans-serif;
}
li::marker{
    color: green;
}
.first{
    width: 500px;
    height: 50px;
    border-radius: 15px;
    background-color: blue;
}
.first:hover{
    padding: 30px;
}
.second{
    width: 25px;
    height: 25px;
}
.seconds{
    width: 250px;
    border-radius: 15px;
}
.seconds:hover{
    padding: 10px;
}